<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>Login de usuario </ion-card-header>
    <ion-card-content>
    <ion-input type="email" label = "Correo" labelPlacement = "stacked"> </ion-input>
    <br>
    <ion-input type="password" label = "Password" labelPlacement = "stacked"> </ion-input>
    <br>
    <ion-button size = "block" color ="success">
      INGRESAR 
    </ion-button>
    </ion-card-content>

  </ion-card>
  <p>No tiene cuenta, registrate <a  routerLink="/registrate">Aquí</a></p>
</ion-content>
